html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
}

.nav {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
}

.nav-check:checked ~ .nav {
  display: block;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#div-wrapper {
  max-width: none;
}

#nav-bar-index {
  position: relative;
  color: #c2c2c2;
  background-color: none;
  border-bottom: none;
}

.logo-name {
  color: #000;
  font-family: "Raleway", sans-serif;
}
.nav-label {
  color:#fff;
  text-align: center;
}

.h-one {
  display: none;
  position: absolute;
  top: 220px;
  left: 55%;
  transform: translateX(-40%);
  color: #fff;
  background: none;
  text-shadow: 2px 2px 20px #000;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  color: #000;
  background-color: #fff;
}

.grid-bg {
  background: none;
}

#header-main-div {
  position: relative;
  max-height: 600px;
  overflow: hidden;
}

#logo-animation {
  transform-origin: 2 2;
  transform: rotate(0);
  animation: logo 3s linear forwards;
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.long-stroke-a {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: ldash 7s linear forwards;
}

@keyframes ldash {
  to {
    stroke-dashoffset: 0;
  }
}

.short-stroke-a {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: sdash 8s linear forwards;
}

@keyframes sdash {
  to {
    stroke-dashoffset: 0;
  }
}

.stroke-r {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: rdash 5s linear forwards;
}

@keyframes rdash {
  to {
    stroke-dashoffset: 0;
  }
}

#arrow-left {
  animation: larrow 4s linear forwards;
}

@keyframes larrow {

  0% {
    opacity: 0;
    bottom: -1000px;
  }

  100% {
    opacity: 1;
  }

}

#arrow-right {
  animation: rarrow 4s linear forwards;
}

@keyframes rarrow {

  0% {
    opacity: 0;
    bottom: -1000px;
  }

  100% {
    opacity: 1;
  }

}

.sec-two {
  background-color: #fff;
}

.cards-label:hover {
  color: #fff;
  box-shadow: 2px 2px 80px #857993;
}

.web-title {
  color: #FFB762;
}

.interaction-title {
  color: #609ED6;
}

.illustration-title {
  color: #78B35B;
}

.typography-title {
  color: #F8625A;
}

.c-l-one {
  border-top: 6px solid #FFB762;
  border-bottom: 2px solid #FFB762;
  color: #FFB762;
  background-color:#fff;
}

.c-l-two {
  border-top: 6px solid #609ED6;
  border-bottom: 2px solid #609ED6;
  color: #609ED6;
  background-color:#fff;
}

.c-l-three {
  border-top: 6px solid #78B35B;
  border-bottom: 2px solid #78B35B;
  color: #fff;
  background-color:#fff;
}

.c-l-four {
  border-top: 6px solid #F8625A;
  border-bottom: 2px solid #F8625A;
  color: #F8625A;
  background-color:#fff;
}

.card-description {
  color: #857993;
}


h2 {
  color: #575068;
}
.about-me-text {
  color: #857993;
}

.index-content {
  background-image: url(../images/section-patterns.svg);
  background-repeat: repeat-y;
  background-position: left;
  background-size: 25px;
}

h3 {
  color: #609ED6;
}

.content-nav {
  color: #000;
}

.copyright {
  border-top: 1px solid #000;
}

.copy-text {
  line-height: 1.2em;
}

.logo-n-p {
  color: #857993;
}

.web-contact {
  background-color: #ECE8F2;
}




@media only screen and (min-width: 26em) {

  [type="checkbox"] + label, [type="radio"] + label, .label-inline {
    display: none;
  }

  .flower {
    position: relative;
  }

  .h-one {
    display: inline;
  }

  .content {
  position: static;
  display: inline-block;
  }

  .nav {
  position: static;
  display: inline-block;
  text-align: center;
  }

  .nav a {
    color: #000;
  }

  .nav a:hover {
    color: #fff;
    background-color: #000;
  }


}
