html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
}

.nav {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 0 0 10px 10px;
}

.nav-check:checked ~ .nav {
  display: block;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#div-wrapper {
  max-width: none;
  background-color: #fff;
}

#nav-bar-index {
  position: relative;
  color: #c2c2c2;
  background-color: none;
  border-bottom: none;
}

.logo-name {
  color: #000;
  font-family: "Raleway", sans-serif;
}
.nav-label {
  color:#575068;
  text-align: center;
}

.banner-index-image {
  background-image: url("../images/banner-index.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.nav a {
  color: #000;
}

.nav a:hover {
  color: #857993;
}

.grid-bg {
  background: none;
}

#header-main-div {
  position: relative;
  max-height: 700px;
  overflow: hidden;
}

#logo-animation {
  transform-origin: 2 2;
  transform: rotate(0);
  animation: logo 3s linear forwards;
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.long-stroke-a {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: ldash 7s linear forwards;
}

@keyframes ldash {
  to {
    stroke-dashoffset: 0;
  }
}

.short-stroke-a {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: sdash 8s linear forwards;
}

@keyframes sdash {
  to {
    stroke-dashoffset: 0;
  }
}

.stroke-r {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: rdash 5s linear forwards;
}

@keyframes rdash {
  to {
    stroke-dashoffset: 0;
  }
}

#arrow-left {
  animation: larrow 4s linear forwards;
}

@keyframes larrow {

  0% {
    opacity: 0;
    bottom: -1000px;
  }

  100% {
    opacity: 1;
  }

}

#arrow-right {
  animation: rarrow 4s linear forwards;
}

@keyframes rarrow {

  0% {
    opacity: 0;
    bottom: -1000px;
  }

  100% {
    opacity: 1;
  }

}

.sec-two {
  background-color: #fff;
}

.cards-label {
  transition: 300ms all linear;
}

.cards-label:hover {
  z-index: 1000;
  color: #fff;
  box-shadow: 2px 2px 20px #857993;
}

.web-title {
  color: #FFB762;
}

.interaction-title {
  color: #609ED6;
}

.illustration-title {
  color: #78B35B;
}

.typography-title {
  color: #F8625A;
}

.c-l-one {
  border-top: 6px solid #FFB762;
  border-bottom: 2px solid #FFB762;
  color: #FFB762;
  background-color:#fff;
}

.c-l-two {
  border-top: 6px solid #609ED6;
  border-bottom: 2px solid #609ED6;
  color: #609ED6;
  background-color:#fff;
}

.c-l-three {
  border-top: 6px solid #78B35B;
  border-bottom: 2px solid #78B35B;
  color: #fff;
  background-color:#fff;
}

.c-l-four {
  border-top: 6px solid #F8625A;
  border-bottom: 2px solid #F8625A;
  color: #F8625A;
  background-color:#fff;
}

.card-description {
  color: #857993;
}

h2 {
  color: #575068;
}
.about-me-text {
  color: #857993;
}

.index-content {
  background-color: #ECE8F2;
}

.footer-title {
  color: #575068;
}

.copyright {
  border-top: 1px solid #575068;
}

.copy-text {
  line-height: 1.2em;
}

.logo-n-p {
  color: #857993;
}

.web-contact {
  background-color: #000;
}

.footer {
  color: #857993;
}

.link-hover {
 color: #857993;
}

.link-hover:hover {
  color: #575068;
}

.h-one {
  display: none;
}

@media only screen and (min-width: 15em) {

  .h-one {
    display: inline-block;
    top: 10em;
    left: 50%;
    transform: translateX(-45%);
    color: #fff;
    background: none;
    text-shadow: 0 0 1px #000;
  }

}

@media only screen and (min-width: 38em) {

  [type="checkbox"] + label, [type="radio"] + label, .label-inline {
    display: none;
  }

  .flower {
    position: relative;
  }

  .content {
  position: static;
  display: inline-block;
  }

  .nav {
  position: static;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  }

  .nav a {
    color: #575068;
  }

  .nav a:hover {
    color: #857993;
  }

  .h-one {
    left: 50%;
    transform: translateX(-35%);
  }

  .banner-index-image {
    background-image: url("../images/banner-index.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    bottom: 0;
    padding-top: 150%;
  }

}
